body
{
    background-color: #55585c;
}

.center
{
    min-height: 100%;  /* Fallback for browsers which do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one */
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}
#header
{
    font-size: 10vmin;
    font-family: 'Roboto', sans-serif;
    color: white;

    text-align: center;
}
.btn
{
    height: 25vh;
    width: 45vw;

    border: none;
    border-radius: 10px;

    font-size: 10vmax;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;

    margin-top: -15vh;

    background-color: #2084be;

}

#messBtn
{
    font-size: 5vmax;
}

.btn:hover
{
    background-color: #3372b9;
}
.btn:active
{
    background-color: #1b5096;
}
